<h1>To-Do:</h1>

<p>Here's what we gotta do today:</p>

<ul>
  <% @tasks.each() do |task| %>
  <li> <%= task.description() %></li>
  <% end %>
</ul>

<p>What else do we gotta do?</p>

<form action="/tasks" method="post">
  <label for="description">Describe that task</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add it!!</button>
</form>
